<mat-card>
    <mat-card-header>
        <mat-card-title>Authentification</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field>
                <input matInput placeholder="Email" [formControl]="email" formControlName="email" name="email" #emailForm>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe" [formControl]="password" formControlName="password" name="password"
                    #passwordForm>
            </mat-form-field>
            <mat-card-actions>
                <button mat-button color="primary" [disabled]="!loginForm.valid">Se connecter</button>
            </mat-card-actions>
        </form>

    </mat-card-content>
</mat-card>