<split fxShow.sm fxHide.xs direction="horizontal" (dragProgress)="handleDragProgress($event)" visibleTransition="true">
    <split-area [size]="prevSize[0]">
        <app-component-quizz-form [quizz]="quizz"></app-component-quizz-form>
        <div class="quizz-control">
            <button mat-mini-fab class="render-button" (click)="handleRenderButton()">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-fab *ngIf="quizz.questions.length > 0" class="submit-button" (click)="handleSubmitButton()">
                <mat-icon>check</mat-icon>
            </button>
        </div>
    </split-area>
    <split-area [size]="prevSize[1]" [visible]="isRendered">
        <app-component-quizz-render [quizz]="quizz" [isEditable]="isEditable"></app-component-quizz-render>
    </split-area>
</split>

<split fxShow.xs fxHide.sm direction="vertical" visibleTransition="false">
    <split-area [size]="prevSize[0]">
        <app-component-quizz-form [quizz]="quizz"></app-component-quizz-form>
    </split-area>
    <split-area [size]="prevSize[1]" [visible]="isRendered">
        <app-component-quizz-render [quizz]="quizz" [isEditable]="isEditable"></app-component-quizz-render>
    </split-area>
</split>

<div class="quizz-control">
    <button mat-mini-fab class="edit-button" color="primary" (click)="handleEditButton()">
        <mat-icon>create</mat-icon>
    </button>
    <button mat-mini-fab class="render-button" *ngIf="!isRendered" color="primary" (click)="handleRenderButton()">
        <mat-icon>visibility</mat-icon>
    </button>
    <button mat-mini-fab class="render-button" *ngIf="isRendered" color="primary" (click)="handleRenderButton()">
        <mat-icon>visibility_off</mat-icon>
    </button>
    <button mat-fab class="submit-button" *ngIf="quizz.questions.length > 0" color="accent" class="submit-button" (click)="handleSubmitButton()">
        <mat-icon>check</mat-icon>
    </button>
</div>