split-area {
    padding: 0;
}

.quizz-control {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 25px;
    right: 25px;
}

.render-button {

}

.submit-button {
    color: white;
}