<td-layout>
  <td-navigation-drawer flex sidenavTitle="ACF SUD" logo="assets:teradata">
    <mat-nav-list>
      <mat-list-item routerLink="home">
        <mat-icon mat-list-icon>home</mat-icon>
        <h3 mat-line>Home</h3>
      </mat-list-item>
      <mat-list-item routerLink="dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <h3 mat-line>Dashboard</h3>
      </mat-list-item>
      <mat-list-item routerLink="login">
        <mat-icon mat-list-icon>input</mat-icon>
        <h3 mat-line>Login</h3>
      </mat-list-item>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav toolbarTitle="ACF SUD" navigationRoute="/">

    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

    <router-outlet></router-outlet>

  </td-layout-nav>
</td-layout>