<mat-card>
    <mat-card-header>
        <mat-card-title>Création de formulaire</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="quizz-title-form">
            <mat-form-field>
                <input matInput placeholder="titre du quizz" [(ngModel)]="quizz.title" />
            </mat-form-field>
            <mat-form-field>
                <mat-select [(ngModel)]="quizz.type" placeholder="type du quizz">
                    <mat-option value="default">
                        défaut
                    </mat-option>
                    <mat-option value="satisfaction">
                        satisfaction
                    </mat-option>
                    <mat-option value="evaluation">
                        évaluation
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select [(ngModel)]="quizz.formationId" placeholder="formation">
                    <mat-option value="1">
                        Toute formation
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="questions-container" fxLayout="column" fxLayoutGap="25px">
            <div class="question-item" *ngFor="let question of quizz.questions">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Question #{{ question.position }}</mat-panel-title>
                        <mat-panel-description>
                            {{ question.title }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="question-form">
                        <mat-form-field>
                            <input matInput placeholder="question ?" [(ngModel)]="question.title"/>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="type" [(ngModel)]="question.type">
                                <mat-option value="string">Text</mat-option>
                                <mat-option value="number">Nombre</mat-option>
                                <mat-option value="file">Fichier</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="question-options" fxLayout="column">
                        <span>Optons de la question:</span>
                        <div class="text-option" *ngIf="question.type === 'string'">
                            <mat-form-field>
                                <mat-select placeholder="text-type" [(ngModel)]="question.stringType">
                                    <mat-option value="long">Longue</mat-option>
                                    <mat-option value="short">Courte</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="number-option" *ngIf="question.type === 'number'">
                            <mat-form-field>
                                <input matInput placeholder="bareme" type="number" [(ngModel)]="question.bareme" />
                            </mat-form-field>
                        </div>

                        <div class="file-option" *ngIf="question.type === 'file'">
                            <mat-form-field>
                                <mat-select placeholder="Type de fichier" [(ngModel)]="question.fileType">
                                    <mat-option value="img">Image</mat-option>
                                    <mat-option value="pdf">PDF</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Taille max du fichier(mb)" type="number" [(ngModel)]="question.fileMaxSize" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="question-control" fxLayout="row" fxLayoutAlign="space-around">
                        <button mat-icon-button *ngIf="quizz.questions.length > 1 && question.position !== quizz.questions.length" (click)="handleDownButton(question)"><mat-icon>keyboard_arrow_down</mat-icon></button>
                        <button mat-icon-button *ngIf="quizz.questions.length > 1 && question.position !== 1" (click)="handleUpButton(question)"><mat-icon>keyboard_arrow_up</mat-icon></button>
                        <button mat-icon-button color="warn" (click)="handleDeleteButton(question)"><mat-icon>close</mat-icon></button>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="add-question-container">
            <button mat-icon-button color="accent" (click)="handleAddButton()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>