mat-card {
    width: 80%;
    position: relative;
    top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

mat-form-field {
    width: 100%;
}


.add-question-container {
    margin-top:15px;
    height: 25px;
    width: 100%;
    text-align: center;
}

