<mat-card *ngIf="quizz.title !== '' || quizz.questions.length > 0">
    <mat-card-header>
        <mat-card-title>{{ quizz.title }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="question-item" *ngFor="let question of quizz.questions" fxLayout="row" fxLayoutAlign="space-around">
            <div class="question-content" fxLayout="column">
                <h4>{{ question.title }}</h4>
                <div class="reponse-form">
                    <div class="response-text" *ngIf="question.type === 'string'">
                        <mat-form-field>
                            <textarea matInput *ngIf="question.stringType === 'long'" placeholder="Réponse" [(ngModel)]="question.response" ></textarea>
                            <input matInput *ngIf="question.stringType === 'short'" placeholder="Réponse" [(ngModel)]="question.response" />
                        </mat-form-field>
                    </div>
                    <div class="response-number" *ngIf="question.type === 'number'">
                        <mat-slider
                            class="slider" [max]="question.bareme" min="0" step="1" thumbLabel="true" color="primary">
                        </mat-slider>
                    </div>

                    <div class="response-file" *ngIf="question.type === 'file'">
                        <td-file-input [(ngModel)]="question.file" color="primary"  [accept]="question.fileType"
                            multiple>
                            <mat-icon>attach_file</mat-icon>
                            <span>Choisir un fichier</span>
                        </td-file-input>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div *ngIf="isEditable" class="question-control" fxLayout="column" fxLayoutAlign="space-around">
                <button mat-icon-button color="warn" (click)="handleDeleteButton(question)"><mat-icon>close</mat-icon></button>
                <button mat-icon-button *ngIf="quizz.questions.length > 1 && question.position !== 1" (click)="handleUpButton(question)"><mat-icon>keyboard_arrow_up</mat-icon></button>
                <button mat-icon-button *ngIf="quizz.questions.length > 1 && question.position !== quizz.questions.length" (click)="handleDownButton(question)"><mat-icon>keyboard_arrow_down</mat-icon></button>
            </div>
        </div>
    </mat-card-content>
</mat-card>