mat-card {
    width: 80%;
    position: relative;
    top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.question-content {
    width: 100%;
}

.response-form {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.slider {
    width: 100%;
}