@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// // (optional) Additional themes
// @import '~@covalent/markdown/markdown-theme';
// @import '~@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary-light: mat-palette($mat-teal, 800, 100, 900);
$accent-light:  mat-palette($mat-indigo, 600, 100, 900);
$warn-light:    mat-palette($mat-red, 600, 100, 900);

$primary-dark: mat-palette($mat-grey, 800, 100, 900);
$accent-dark:  mat-palette($mat-purple, 600, 100, 900);
$warn-dark:    mat-palette($mat-red, 600, 100, 900);

$light-theme: mat-light-theme($primary-light, $accent-light, $warn-light);
$dark-theme: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

$custom-theme: mat-light-them();

@include angular-material-theme($light-theme);
@include covalent-theme($light-theme, $typography);

// // (optional) Additional themes
// @include covalent-markdown-theme($theme);
// @include covalent-highlight-theme();